<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>讲解员增加</title>
    <script type="text/javascript:;" src="components/expostor_add.js"></script>
</head>
<body>  
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
           <div class="col-md-12">
            <h1 class="page-head-line">讲解员增加</h1>
           </div>     
        </div>  
         <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <div class="panel panel-info">
                    <div class="panel-heading"></div>
                    <div class="panel-body">
                     <!--<form role="form" id="expostor_add_form">-->
                           <div class="form-group">
                                 <label>姓名</label>
                                 <input class="form-control" type="text"   id="expostor_add_name"   />
                           </div>
			                <div class="form-group">
				                <label>性别</label>
			                    <select class="form-control" id="expostor_add_sex">
                                   <option value="男">男</option>
                                   <option value="女">女</option>
                                </select>
                            </div>
                           <div class="form-group">
                                 <label>联系方式</label>
                                 <input class="form-control" type="number"  id="expostor_add_tel" />
                           </div>
                           <div class="form-group">
                                 <label>邮箱</label>
                                 <input class="form-control" type="email"  id="expostor_add_email" />
                           </div>
                           <div class="form-group">
                                 <label>语种</label>
			                     <select class="form-control" id="expostor_add_lange">
                                   <option value="汉语">汉语</option>
                                   <option value="英语">英语</option>
                                 </select>
                           </div>
                           <div class="form-group">
                                 <label>等级(内部规定)</label>
			                     <select class="form-control" id="expostor_add_nbrang">
                                   <option value="一级">一级</option>
                                   <option value="二级">二级</option>
                                   <option value="三级">三级</option>
                                   <option value="四级">四级</option>
                                   <option value="五级">五级</option>
                                 </select>
                           </div>
                           <div class="form-group">
                                 <label>等级(外部反馈)</label>
			                     <select class="form-control" id="expostor_add_wbrang">
                                   <option value="一级">一级</option>
                                   <option value="二级">二级</option>
                                   <option value="三级">三级</option>
                                   <option value="四级">四级</option>
                                   <option value="五级">五级</option>
                                 </select>
                           </div>
                           <div class="form-group">
                                 <label>服务数量</label>
                                 <input class="form-control" type="number"  id="expostor_add_servers" />
                           </div>
                           <div class="form-group">
                                 <label>工作时段</label>
			                     <select class="form-control" id="expostor_add_time">
                                   <option value="8:00-10:00">8:00-10:00</option>
                                   <option value="10:00-12:00">10:00-12:00</option>
                                   <option value="14:00-16:00">14:00-16:00</option>
                                 </select>
                           </div>


                           <div class="form-group">
                                <label class="control-label col-lg-4">图片上传</label>
                                <div class="">
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div class="fileupload-preview thumbnail" id="expostor_add_img" style="width: 200px; height: 150px;"></div>
                                    <div>
                                    <span class="btn btn-file btn-success"><span class="fileupload-new">选择图片</span><span class="fileupload-exists">改变图片</span><input type="file" id="expostor_file"  /></span>
                                        <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload">取消图片</a>
                                    </div>
                                 </div>
                            </div>
                    </div>

                     <span ng-click="expostor_add()"  class="btn btn-info" id="expostor_add_save">保存</span>
                    </div>
                </div>
            </div>  
            <!--row-->
           </div>
       <!--page-inner-->    
       </div>
<!--page-wrapper-->       
</div>
</body>
</html>
