<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>讲解员预约表</title>
    <script type="text/javascript:;" src="components/expostor_order.js"></script>
</head>
<body>  
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
           <div class="col-md-12">
            <h1 class="page-head-line">讲解员预约表</h1>
           </div>     
        </div>  
         <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-info">
                    <div class="panel-heading"></div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>姓名</th>
                                        <th>性别</th>
                                        <th>电话号</th>
                                        <th>预约时间</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr  class="success">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>    
                               </tbody>         
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--row-->
           </div>
       <!--page-inner-->    
       </div>
<!--page-wrapper-->       
</div>
</body>
</html>

