<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>用户修改</title>
    <script type="text/javascript:;" src="components/user_modify.js"></script>
</head>
<body>  
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
           <div class="col-md-12">
            <h1 class="page-head-line">用户修改</h1>
           </div>     
        </div>  
         <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <div class="panel panel-info">
                    <div class="panel-heading"></div>
                    <div class="panel-body">
                     <form role="form" id="user_modify_form" ng-repeat = "user in users">
                           <div class="form-group">
                                 <label>用户名</label>
                                 <input class="form-control" type="text"  value={{user.username}}  id="user_modify_name" disabled  />
                           </div>
                           <div class="form-group">
                                 <label>邮箱</label>
                                 <input class="form-control" type="email" ng-change="dataChange()" ng-model="user.email"  value={{user.email}}  id="user_modify_email" />
                           </div>
                           <div class="form-group">
                                <label class="control-label col-lg-4">头像上传</label>
                                <div class="">
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div class="fileupload-preview thumbnail" id="user_modify_img" style="width: 200px; height: 150px;">
                                            <img ng-src="../upload/{{user.headImage}}" >
                                        </div>
                                    <div>
                                    <span class="btn btn-file btn-success"><span class="fileupload-new">选择图片</span><span class="fileupload-exists">改变图片</span><input type="file" id="user_file"  /></span>
                                        <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload">取消图片</a>
                                    </div>
                                 </div>
                            </div>

                            <span ng-click="user_modify()"  class="btn btn-info" id="user_modify_save" >保存</span>

                     </form>
                    </div>
                </div>
            </div>  
            <!--row-->
           </div>
       <!--page-inner-->    
       </div>
<!--page-wrapper-->       
</div>
</body>
</html>
